<!DOCTYPE html>
<html>
<head>
    <title>Clasificador de Seguro de Salud</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script>
        function clasificarInsecto(event) {
            event.preventDefault();
            const smoker = document.getElementById('smoker').value;
            const bmi = document.getElementById('bmi').value;
            const age = document.getElementById('age').value;
            const weight = document.getElementById('weight').value;
            const job_title = document.getElementById('job_title').value;


            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `smoker=${smoker}&bmi=${bmi}&age=${age}&weight=${weight}&job_title=${job_title}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'El monto reclamado es ' + data.categoria;
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>


<body class="bg-gray-100">
    <div class="container mx-auto p-8">
        <h1 class="text-2xl font-bold mb-6 text-center">Clasificador de Seguro de Salud</h1>
        <form id="formulario" onsubmit="clasificarInsecto(event)" class="bg-white p-6 rounded shadow-md max-w-lg mx-auto">
            <div class="mb-4">
                <label for="smoker" class="block text-gray-700">smoker:</label>
<!--                 <select id="smoker" name="smoker" class="mt-1 p-2 w-full border rounded" required>
                    <option value="0">No</option>
                    <option value="1">Sí</option>
                </select> -->
                <input type="text" id="smoker" name="smoker" class="mt-1 p-2 w-full border rounded" required>

            </div>
            <div class="mb-4">
                <label for="bmi" class="block text-gray-700">bmi:</label>
                <input type="text" id="bmi" name="bmi" class="mt-1 p-2 w-full border rounded" required>
            </div>
            <div class="mb-4">
                <label for="age" class="block text-gray-700">age:</label>
                <input type="text" id="age" name="age" class="mt-1 p-2 w-full border rounded" required>
            </div>
            <div class="mb-4">
                <label for="weight" class="block text-gray-700">weight:</label>
                <input type="text" id="weight" name="weight" class="mt-1 p-2 w-full border rounded" required>
            </div>
            <div class="mb-4">
                <label for="job_title" class="block text-gray-700">job_title:</label>
<!--                 <select id="job_title" name="job_title" class="mt-1 p-2 w-full border rounded" required>
                    <option value="2.0">Actor</option>
                    <option value="16.0">Ingeniero</option>
                    <option value="0.0">Academician</option>
                    <option value="10">Chef</option>
                    <option value="22">HomeMakers</option>
                    <option value="12">Dancer</option>
                    <option value="32">Singer</option>
                    <option value="13">DataScientis</option>
                    <option value="30">Police</option>
                    <option value="33">Studen</option>
                    <option value="15">Doctor</option>
                    <option value="28">Manager</option>
                    <option value="29">Photographer</option>
                    <option value="5">Beautician</option>
                    <option value="8">CA</option>
                    <option value="6">Blogger</option>
                    <option value="9">CEO</option>
                    <option value="26">Labourer</option>
                    <option value="1">Accountant</option>
                    <option value="19">FilmDirector</option>
                    <option value="34">Technician</option>
                    <option value="18">FashionDesigner</option>
                    <option value="4">Architect</option>
                    <option value="23">HouseKeeper</option>
                    <option value="20">FilmMaker</option>
                    <option value="7">Buisnessman</option>
                    <option value="31">Politician</option>
                    <option value="14">DefencePersonnels</option>
                    <option value="3">Analyst</option>
                    <option value="11">Clerks</option>
                    <option value="24">ITProfessional</option>
                    <option value="17">Farmer</option>
                    <option value="25">Journalist</option>
                    <option value="27">Lawyer</option>
                    <option value="21">GovEmployee</option>
                </select> -->
                <input type="text" id="job_title" name="job_title" class="mt-1 p-2 w-full border rounded" required>


            </div>
            <div class="text-center">
                <input type="submit" value="Enviar" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
            </div>
        </form>
        <p id="resultado" class="mt-4 text-center text-green-800"></p>
    </div>
</body>
</html>
